body{
    background-color: #1D4221;
    color: white;
    font-family:  "DM Serif Text", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    color: white;
    background-color: rgb(85, 124, 27);
    font-family:  "DM Serif Text", serif;;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
max-width: 90%;
}

img{
    max-width: 75%;
}